<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Astana Weather</h1>
    <div class="content">
        <ul style="list-style-type: none">
            <li><% for( let index = 0; index < data.length; index++ ) { %>
                <div>
                    <h3><%= days[index] %></h3>
                    <p><%= data[index] %></p>
                </div>
            <% } %>
                
            </li>
        </ul>
    </div>
</body>
</html>